{% extends 'core/base.html' %}
{% block titulo %}
    Estudiante: +Info
{% endblock titulo %}

{% block contenido %}

    <ul>
        <li>Nombre: {{ estudiante.nombre }}</li>
        <li>Apellido: {{ estudiante.apellido }}</li>
        <li>Cédula_de_Identidad: {{ estudiante.cedula_de_identidad }}</li>
        <li>Email: {{ estudiante.email }}</li>
        <li>País: {{ estudiante.pais }}</li>
        <li>Formación Académica: {{ estudiante.formacion_fcademica }}</li>
    </ul>
    <div class="fs-3 pb-4">
        <a href="{% url 'clase:estudiantes_list' %}">Volver</a>
    </div>

{% endblock contenido %}