{% extends 'core/base.html' %}

{% block title %}
    <h1 style="color: blue; font-weight: bold; font-size: 24px; text-decoration: underline;">Listado de Estudiantes</h1>
{% endblock title %}

{% block content %}
    <div class="py-lg-4">
        <form action="{% url 'clase:estudiantes_list' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar estudiantes...">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <ul>
        {% for estudiante in estudiantes %}
            <li>{{ estudiante.nombre }} {{ estudiante.apellido }}</li>
        {% endfor %}
    </ul>
    <div style="margin-top: 60px;" class="py-lg-4">
        <h2>Ingresar Estudiante</h2>
    </div>
    <form action="{% url 'clase:estudiantes_create' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
{% endblock content %}

