{% extends "core/base.html" %}

{% block title %}
    <h1 style="color: blue; font-weight: bold; font-size: 24px; text-decoration: underline;">Listado de Comisiones</h1>
{% endblock title %}

{% block content %}
    <div style="margin-top: 20px;" class="py-lg-4">
        <form action="{% url 'clase:home' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar Comision...">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <ul>
        {% for comision in comisiones %}
            <li>{{ comision.nombre }} | {{ comision.curso }} | {{ comision.profesor }}</li>
        {% endfor %}  
    </ul>
    <div style="margin-top: 20px;" class="fs-3 pb-4">
        <a href="{% url 'clase:comision_create' %}">Crear Comision</a>
    </div>
      
{% endblock content %}
