{% extends "core/base.html" %}

{% block title %}
{% endblock title %}

{% block content %}
    <div class="fs-3 pb-4">
        <a href="{% url 'Clase:comision_create' %}">Crear Comision</a>
    </div>
    <div class="py-lg-4">
        <form action="{% url 'Clase:home' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar Comision...">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <ul>
        {% for comision in comisiones %}
        <p>{{ comision.nombre }} | {{ comision.curso }} | {{ comision.profesor }}</p>
        {% endfor %}  
    </ul>
      
{% endblock content %}