{% extends 'core/base.html' %}

{% block title %}
<h1 style="color: blue; font-weight: bold; font-size: 24px; text-decoration: underline;">Listado de Profesores</h1>
{% endblock title %}

{% block content %}
    <div class="py-lg-4">
        <form action="{% url 'clase:profesores_list' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar profesores...">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <ul>
        {% for profesor in profesores %}
            <li>{{ profesor.nombre }}</li>
        {% endfor %}
    </ul>
{% endblock content %}

